<ion-view view-title="Cardápio RU - UFG Jataí" style="background-color:#ECECEC">
  <ion-content class="padding" style="background-color: #fff;">
 <div class="card" style="text-align: center">
  <div class="item item-text-wrap">
  <h1>Empresa Gestora</h1>
	<a href="https://www.facebook.com/Kadeas-Jataí-GO-1602879556707299/" target="_blank"><img src="img/empresa.jpg" style="width:100%"></a>
  </div>
</div>

<div class="card" style="text-align: center">
	<div class="item item-text-wrap">
		<h1 >Horario de funcionamento</h1><br>
		<p><h3>Almoço: 11:00 ás 14:00</h3></p>
		<p><h3>Jantar: 17:30 ás 21:00</h3></p>
<br>
				<h1>Valores por refeição</h1><br>
		<p><h3>Aluno UFG: R$ 3,00</h3></p>
		<p><h3>Visitantes: R$ 9,50</p>
		</div>
		</div>
</div>

 <div class="card" style="text-align: center">
  <div class="item item-text-wrap">
  <h1>Desenvolvedor</h1><br>
  	<img src="img/desenvolvedor.jpg" style="width:200px;"">

  	<p><h3>Daniel Leonardo de Souza Teixeira</h3></p>

  	<p><a href="http://www.linkedin.com/in/danielfnz" target="_blank">www.linkedin.com/in/danielfnz</a></p>
  	<p><a href="http://www.facebook.com/danielfnz" target="_blank">www.facebook.com/danielfnz</a></p>

  </div>
</div>

  </ion-content>
</ion-view>
