<ion-view view-title="Cardápio RU - UFG Jataí" style="background-color:#ECECEC">
  <ion-content>
<table style="margin: auto;">
  <tr style="margin: auto;">
    <th ui-sref="tab.segunda"><img src="img/segunda.png" class="imagemCardapio"></th>
    <th ui-sref="tab.terca"><img src="img/terca.png" class="imagemCardapio"></th>
  </tr>
  <tr style="margin: auto;">
    <th ui-sref="tab.quarta"><img src="img/quarta.png" class="imagemCardapio"></th>
    <th ui-sref="tab.quinta"><img src="img/quinta.png" class="imagemCardapio"></th>
  </tr>
  <tr style="margin: auto;">
    <td colspan="2" ui-sref="tab.sexta"><img src="img/sexta.png" class="imagemCardapio"></td>
  </tr>
</table>
  </ion-content>
</ion-view>
